main {
  position: relative;
}

.section-bckg {
  position: relative;
  display: block;
  width: 100%;
  min-height: 80vh;
  background: center no-repeat;
  background-size: cover;

  &.hight {
    height: 95vh;
  }
}

.title {
  padding: 50px;
  margin: 0;
  text-align: center;
}

.list-steps {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.list-steps li {
  max-width: 200px;
}

.list-steps img {
  width: 100%;
}

.text-description {
  max-width: 550px;
  margin: 2em auto;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  a {
    display: block;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  text-align: center;
  color: #fff;
}
