<div ng-controller="ColorController as vm" ng-init="vm.attribute=attribute">
  <div class="layout_container">
    <div class="img-circle img-circle-btn small-circle"
      ng-repeat="val in vm.attribute.values"
      ng-class="{'is-selected': vm.choice == val.value}"
      ng-click="vm.setChoice(val.value)"
      >
      <div class="img">
        <div id="form-color-{{val.value}}" style="background: {{val.color}};"></div>
      </div>
      <p class="label">{{val.label}}</p>
    </div>
  </div>
  <h2 class="lab-title lab-title-2">{{vm.attribute.sliderLabel}}</h2>
  <md-slider md-discrete ng-disabled="vm.choice == null" ng-model="vm.percent" min="0" max="100" ng-change="vm.setOpacity()"></md-slider>
  <md-button ng-click="vm.saveChoice()" class="md-raised">{{vm.attribute.labelValidate}}</md-button>
</div>
