 #basket{
 	text-align: center;
 	margin-bottom: 10px;
 	.basket-container{
	    box-sizing: border-box;
	    display: block;
	    margin: 25px auto;
	    img{
				padding: 26px;
				background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
	    	max-width: 653px;
        width: 100%;
	    	height: auto;
	    }
 	}
 }
