 #basket{
 	text-align: center;
 	margin-bottom: 10px;
 	.basket-container{
 		background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
	    box-sizing: border-box;
	    display: inline-block;
	    padding: 26px;
	    margin-bottom: 25px;
	    img{
	    	width: 100%;
	    	height: auto;
	    }
 	}
 }