header#header{
	position: relative;
    text-align: center;
    width: 100%;
    a{
    	color: $white;
    }
    .header-left {
	    left: 10px;
	    position: absolute;
	    top: 10px;
	    width: 44px;
	    img{
	    	height: auto;
    		width: 100%;
    		opacity: 0.7;
		    @include transition;
		    &:hover{
		    	opacity: 1;
		    }
	    }
	}
	.header-center {
	    display: inline-block;
	    margin: 60px auto 20px;
	    width: 306px;
	    @include transition;
	    img{
	    	width: 100%;
	    	height: auto;
	    }
	}
	.header-right {
	    position: absolute;
	    right: 20px;
	    top: 0;
	    .header-link{
	    	display: inline-block;
		    font-size: 14px;
		    margin-right: 15px;
		    padding-top: 4px;
		    vertical-align: middle;
		    opacity: 0.7;
		    @include transition;
		    &:hover{
		    	opacity: 1;
		    }
	    }
	    md-input-container {
	    	font-size: 12px;
		    text-align: left;
		    width: 198px;
		    display: inline-block;
		    vertical-align: middle;
		    opacity: 0.7;
		    @include transition;
	    	label{
	    		color: $white;
	    	}
	    	.md-input{
	    		border-color: $white;
	    		color: $white;
	    		text-align: left;
	    	}
	    	&:hover, &.md-input-focused{
	    		opacity: 1;
	    		label span{color: $white;}
	    	}
	    }
	    .search-btn {
	    	background: transparent url("../../img/pic-search.svg") no-repeat scroll 0 0 / cover ;
		    border: 0 none;
		    height: 16px;
		    overflow: hidden;
		    padding: 0;
		    position: absolute;
		    right: 3px;
		    text-indent: -1000px;
		    top: 12px;
		    width: 16px;
	    }
	}
	&.small{
		.header-center{
			margin: 20px auto 60px;
    		width: 180px;
		}
	}
}

@media screen and (max-width: 1024px){
	header#header{
		.header-center{
			margin: 30px auto;
			width: 30%;
		}
		.header-right{
			.header-link{
				display: block;
			    margin-top: 15px;
			    text-align: right;
			    margin-right: 0;
			}
		}
	}
}
@media screen and (max-width: 740px){
	header#header{
		.header-right{
			right: 5px;
			.header-link{
				margin-top: 35px;
			}
			md-input-container{
				margin: 0;
			    position: absolute;
			    right: 0;
			    top: -5px;
			    width: 148px;
			}
		}
		&.small{
			.header-center{
				margin: 10px auto 20px;
    			width: 24%;
			}
		}
	}
}
@media screen and (max-width: 480px){
	header#header{
		.header-left{
			top: 5px;
			left: 5px;
			width: 33px;
		}
		.header-center{
			margin: 20px auto 30px;
			width: 36%;
		}
		.header-right{
			.header-link{
				margin-top: 0;
				font-size: 12px;
			}
			md-input-container{
				display: none;
			}
		}
		&.small{
			.header-center{
				margin: 10px auto 20px;
    			width: 36%;
			}
		}
	}
}
