.form {
  position: relative;
  width: 100%;
  background: $white;
  padding: 30px;
  text-align: center;
}

.form-step {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -1em;
  margin-left: -1em;
  @extend .lab-step;
}

.form-btn {
  min-width: 130px;
}

.form-input {
  display: block;
  text-align: center;
  width: 400px;
  margin: 20px auto 0;
  label:not(.md-container-ignore) {
    right: 0;
    transform-origin: center center 0px !important;
    span {
      transition: color 0.3s ease-in;
    }
  }
  input {
    text-align: center;
    transition: border 0.3s ease-in;
  }
}

.form-input:not(.md-input-focused):hover {
  label span{
    color: rgba(0,0,0,0.7);
  }
  input {
    border-color: rgba(0,0,0,0.5);
  }
}
