.form {
  width: 100%;
  background: #fff;
  padding: 30px;
}

.form-title {
  text-align: center;
  margin: 0 0 25px;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}
