.form {
  position: relative;
  width: 100%;
  background: $white;
  padding: 30px;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.3s linear;
  > * {
    pointer-events: none;
  }
}

.form.active {
  opacity: 1;
  > * {
    pointer-events: auto;
  }
}

.form-step {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -1em;
  margin-left: -1em;
  @extend .lab-step;
}

.form-btn.md-raised {
  min-width: 130px;
  &.md-primary{
    background: $main-color;
    &:hover:not([disabled]){
      background: $main-color;
    }
  }
  &:hover:not([disabled]){
    background: $main-color;
    color: $white;
  }
}

.form-input {
  display: block;
  text-align: center;
  width: 400px;
  margin: 20px auto 0;
  label:not(.md-container-ignore) {
    right: 0;
    transform-origin: center center 0px !important;
    span {
      transition: color 0.3s ease-in;
    }
  }
  input {
    text-align: center;
    transition: border 0.3s ease-in;
  }
}

.form-input:not(.md-input-focused):hover {
  label span{
    color: rgba(0,0,0,0.7);
  }
  input {
    border-color: rgba(0,0,0,0.5);
  }
}

.form-header {
  margin: 10px 0 40px;
  &-title {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
  }
  &-subtitle {
    margin: 0;
    font-size: 14px;
  }
}

.form-label-title {
  margin: 40px 0 0;
  text-align: center;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}


.form-validate {
  margin-top: 40px;
  min-width: 300px;
}

.form-preview {
  width: 200px;
  height: 200px;
  background: #f8f8f8;
  margin: 0 auto 40px;
}

.form-preview img {
  width: 100%;
}

.form-list-vertical {
  .form-list-title {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 5px;
 }
  ul {
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;
    list-style: none;
    li {
      font-size: 12px;
      line-height: 1.5;
    }
  }

}
