.form {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 30px;
}

.form-step {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -1em;
  margin-left: -1em;
  display: block;
  color: rgb(87, 87, 87);
  font-size: 18px;
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  .number {
    opacity: 1;
    transition: opacity 0.2s linear, font-size 0s 0.2s;
  }
  .material-icons {
    opacity: 0;
    width: 0;
    height: 0;
    transition: opacity 0.2s 0.2s linear, width 0s 0.2s, height 0s 0.2s;
    color: #73C80E;
  }
  &.validate {
    .number {
      opacity: 0;
      font-size: 0;
    }
    .material-icons {
      opacity: 1;
      height: 24px;
      width: 24px;
    }
  }
}

.form-title {
  text-align: center;
  margin: 10px 0 25px;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.form-btn {
  min-width: 130px;
}

.form-btn-img {
  outline: none;
  cursor: pointer;
  text-align: center;
  .img {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 125px;
    height: 125px;
    opacity: 0.75;
    border-radius: 50%;
    transition: opacity 0.3s linear;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-sizing: border-box;
      opacity: 0;
      border: 0px solid #73C80E;
      transition: opacity 0.3s linear, border 0.3s ease-in;
      z-index: 1;
    }
  }
  .label {
    margin: 10px 0 0;
    font-size: 10px;
    font-weight: bold;
  }

  &:hover .img {
    opacity: 1;
  }
  &.is-selected{
    .img {
      opacity: 1;
    }
    .img:after {
      opacity: 1;
      border-width: 5px;
    }
  }
}
