.img-circle {
  text-align: center;
  .img {
    position: relative;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    width: 125px;
    height: 125px;
    opacity: 0.75;
    border-radius: 50%;
    transition: opacity 0.3s linear;
    img, > div {
      @include border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid $lightgrey;
    }
  }
  .img.visible {
    opacity: 1;
    &:after {
      border-color: rgba(0, 0, 0, 0.2);
    }
  }
  .label {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: bold;
  }
  .info{
    color: #454545;
    font-size: 12px;
    font-weight: 100;
    margin: 2px 0 0;
    padding: 0 5px;
  }
  &.small {
    .img {
      width: 50px;
      height: 50px;
      opacity: 1;
    }
    .label {
      font-size: 11px;
    }
  }
  &.spacing {
    width: 80px;
    display: inline-block;
    margin: 0 20px 20px;
  }
}


.img-circle-btn {
  outline: none;
  cursor: pointer;
  .img {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-sizing: border-box;
      opacity: 0;
      border: 0px solid rgba(255, 255, 255, 0.5);
      transition: opacity 0.3s linear, border 0.3s ease-in;
      z-index: 1;
    }
  }
  &:hover .img {
    opacity: 1;
  }
  &.is-selected{
    .img {
      opacity: 1;
    }
    .img:after {
      opacity: 1;
      border-width: 5px;
    }
  }
}

.layout_container{
  text-align: center;
  .img-circle {
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
    width: 33.33%;
    &.small-circle{
      width: 20%;
      .img{
        height: 110px;
        margin: 5px;
        width: 110px;
      }
    }
  }
}
