.layout-static {
  @include width();
  margin: 0 auto;
}

.layout-static-small {
  max-width: 300px;
  margin: 0 auto;
}

.layout-column .layout-child_spacing {
    margin: 30px 0;
}

.layout-fluid {
  width: 100%;
}
