.pt_card_container {
	margin: 0 auto;
    max-width: 900px;
    width: 100%;
    text-align: center;
	.pt_card {
		background: #fff none repeat scroll 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
	    box-sizing: border-box;
	    display: inline-block;
	    font-size: 14px;
	    margin: 2%;
	    padding: 15px;
	    text-align: center;
	    vertical-align: top;
	    width: 20%;
	    .pt_img{
	    	width: 100%;
	    	img{
	    		width: 100%;
	    	}
	    }
		.pt_name{
			color: #00A19A;
			margin-top: 15px;
		}
	}


}


@include media-query(mobile) {
	.pt_card_container {
		.pt_card{
			width: 36%;
		}
	}
}